/* style.css */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: wheat;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-style: oblique;
}

img {
    width: 600px;
    height: auto;
    align-items: center;
}

.punchline {
    color: white;
    background-color:lightskyblue;
    font-style: oblique;
    font-weight: 700;
}